
body {
    background-color: var(--secondary-color);
}

.secondary-background {
    background-color: var(--secondary-color);
}

.rounded-template-background {
    background-color: var(--box-color);
    border-radius: 20px;
}

@media (max-width: 768px) {
    .rounded-template-background {
        border-radius: 0;
        background: transparent;
    }
}